<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <userSettings>
        <Monitor.Properties.Settings>
            <setting name="Start_Port" serializeAs="String">
                <value>7000</value>
            </setting>
            <setting name="Default_Server_Message" serializeAs="String">
                <value />
            </setting>
            <setting name="Comport_Port" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Comport_BaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="Comport_Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Comport_DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Comport_StopBit" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="LastRunTime" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSaveSMSTime" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting1" serializeAs="String">
                <value />
            </setting>
            <setting name="PhoneBook" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="SMS_Commands" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>;&lt;S1BM&gt;BAT=,2,;</string>
                        <string>;&lt;S1BM&gt;SPD=,5,;</string>
                        <string>;&lt;S1BM&gt;POSDUR=,3,;</string>
                        <string>;&lt;S1BM&gt;CDC=,1111,;</string>
                        <string>;&lt;S1BM&gt;ENOUT=,1,1,;</string>
                        <string>;&lt;S1BM&gt;STATSLP=,duration value,;</string>
                        <string>;&lt;S1BM&gt;STAT?,;</string>
                        <string>;&lt;S1BM&gt;MDM=,82.80.123.56,2002,;</string>
                        <string>;&lt;S1BM&gt;HNAPN=,internetg,,,,;</string>
                        <string>;&lt;S1BM&gt;TOW=,2,3,4,;</string>
                        <string>;&lt;S1BM&gt;TILT=,2,3,4,;</string>
                        <string>;S1BFR=,;</string>
                        <string>;&lt;S1BM&gt;TD=,01/01/12,09:50:00,;</string>
                        <string>;&lt;S1BM&gt;NUM=,&lt;054111111&gt;,&lt; 054222222&gt;,&lt; 054333333&gt;,;</string>
                        <string>;&lt;S1BM&gt;SMSPASS=,4321,;</string>
                        <string>;&lt;S1BM&gt;RST=,;</string>
                        <string>;&lt;S1BM&gt;POSANGLE=,21,;</string>
                        <string>;&lt;S1BM&gt;POSDISTANCE=,11,;</string>
                        <string>;&lt;S1BM&gt;SETKM=,50000,;</string>
                        <string>;&lt;S1BM&gt;GETLOC?,;</string>
                        <string>;&lt;S1BM&gt;SMSSTAT?,;</string>
                        <string>;&lt;S1BM&gt;GETCONFIG?,;</string>
                        <string>;&lt;S1BM&gt;GPRSEN=,1,;</string>
                        <string>;&lt;S1BM&gt;JAMEN=,1,;</string>
                        <string>;&lt;S1BM&gt;JAMLEVEL=,LEVEL,;</string>
                        <string>;&lt;S1BM&gt;SIRENEN=,1,;</string>
                        <string>;&lt;S1BM&gt;GARAGE=,EN,;</string>
                        <string>;&lt;S1BM&gt;DISARM=,1,;</string>
                        <string>;&lt;S1BM&gt;ARM=,1,;</string>
                        <string>;&lt;S1BM&gt;DOORIGDEL=,5,;</string>
                        <string>;&lt;S1BM&gt;AUTOARM=,3,;</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SerialPort_History" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>;&lt;1234&gt;STAT?,;</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RegisterCommands" serializeAs="String">
                <value />
            </setting>
        </Monitor.Properties.Settings>
    </userSettings>
</configuration>
